.tab-item {
  @apply flex items-center box-border px-2 max-w-max border rounded-lg h-full;
}
.nav-item {
  .close-icon {
    visibility: hidden;
  }
  .active:hover .close-icon {
    visibility: visible;
  }
  .tab-item.active .close-icon {
    visibility: visible;
  }
  .unsave-icon {
    display: inline-block;
    width: 11px;
    height: 11px;
  }
  .tab-item:hover .close-icon {
    visibility: visible;
    line-height: 23px;
  }
  .withUnsaved.tab-item .close-icon {
    display: none;
  }
  .withUnsaved.tab-item:hover .close-icon {
    display: inline-block;
    visibility: visible;
    line-height: 23px;
  }
  .withUnsaved.tab-item:hover .unsave-icon {
    display: none;
  }
}
